@font-face {
    font-family: Montserrat;
    src: url(./polices/Montserrat-Light.ttf);
    src: url(./polices/Montserrat-Medium.ttf);
    src: url(./polices/Montserrat-Thin.ttf);
    font-weight: normal;
    font-style: normal;
}

.banner {
    min-width: 80%;
    max-width: 80%;
    height: 223px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    background-color: black;
    border-radius: 25px;
    margin-left: 10%;
}

.backgroundBanner {
    border-radius: 25px;
    width: 100%;
    opacity: 0.7;
    height: 223px;
    object-fit: cover;
    

}

.h2Banner {
    color: white;
    font-size: 46px;
    font-family: Montserrat;
    position: absolute;
    font-weight: 100;
}

.retourLigneBanner {
    display: none;
}

@media screen and (max-width: 900px) {

    .banner {
        border-radius: 15px;
        margin-left: 5%;
        min-width: 90%;
        height: 130px;
        align-items: baseline;
        margin-top: 20px;
    }

    .backgroundBanner {
        border-radius: 15px;
        object-fit: cover;
        height: 130px;
        
    
    }

    .h2Banner {
        font-size: 30px;
        margin-left: 30px;
    }

    .retourLigneBanner {
        display: none;
    }
}

@media screen and (max-width: 400px) {

    .banner {
        border-radius: 10px;
        margin-left: 5%;
        min-width: 90%;
        height: 111px;
        align-items: baseline;
        margin-top: 20px;
    }

    .backgroundBanner {
        border-radius: 10px;
        object-fit: cover;
        height: 111px;
        
    
    }

    .h2Banner {
        font-size: 24px;
        margin-left: 20px;
    }

    .retourLigneBanner {
        display: flex;
    }
}