.carrousel {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.contentCarrousel {
    width: 100%;
    
}

.arrowCarrousel {
    width: 90%;
    display: flex;
    justify-content: space-between;
position: absolute;
margin-top: 148px;

}


.imgCarrousel {width: 90%;
margin-left: 5%;
height: 415px;
position: relative;
object-fit: cover;
border-radius: 25px;

}


.chevronLeft {height: 119px;}

.chevronRight {height: 119px;}

.counterImages {
    position: absolute;
    margin-top: 365px;
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.arrowCarrouselInvisible {
    width: 0;
    height: 0;
}


@media screen and (max-width: 900px) {
    .imgCarrousel {
        height: 350px;
        border-radius: 15px;
    }

    .chevronLeft {height: 75px;}

    .chevronRight {height: 75px;}

    .arrowCarrousel { margin-top: 155px;}

}

@media screen and (max-width: 480px) {
    .imgCarrousel {
        height: 255px;
        border-radius: 10px;
    }


    .chevronLeft {height: 24px;}

    .chevronRight {height: 24px;}

    .arrowCarrousel {

        margin-top: 130px;
    }

    .counterImages {
        width: 0;
        height: 0;
    }

}