@font-face {
    font-family: Montserrat;
    src: url(./polices/Montserrat-Light.ttf);
    src: url(./polices/Montserrat-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

.collapse { 
    margin-top: 25px;
    border-radius: 5px;
    
}


.collapseH3 {
    background: #FF6060;
border-radius: 5px;
margin: 0;
color: white;
font-size: 24px;
font-family: Montserrat;
font-weight: 500;
height: 47px;
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 15px;
padding-right: 15px;
}

.collapseP {
    color: #FF6060;
font-size: 24px;
font-family: Montserrat;
font-weight: 400;
padding-left: 15px;
padding-right: 15px;
}

.collapseLi {
    color: #FF6060;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;

}

.collapseclosedCollapseimg {
    transition: transform 1000ms;
    transform: rotate(180deg);
}

.collapseopenCollapseimg {
    transition: transform 1000ms;
    transform: rotate(360deg);
}

.collapseclosedCollapse {
    transform: translate(0, -60px);
    background-color: white;
    opacity: 0;
    z-index: -20;
    position: relative;
    height: 10px;
    transition-duration: 600ms;
    overflow: hidden;
} 

.collapseopenCollapse {
    background-color: #F7F7F7;
    padding: 15px;
    border-radius: 0px 0px 5px 5px  ;
    

}

.collapsePLogement {
    color: #FF6060;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;

}



@media screen and (max-width: 900px) {
    .collapseH3 {
        font-size: 20px;
        height: 40px;
        }
        
        .collapseP {
        font-size: 18px;
        font-weight: 400;
        padding-left: 10px;
    padding-right: 10px;
        }

        .collapseLi {
            font-size: 18px;
            padding: 0;
        }

}


@media screen and (max-width: 480px) {
    .collapseH3 {
    font-size: 13px;
    height: 30px;
    }
    
    .collapseP {
    font-size: 12px;
    font-weight: 400;
    padding-left: 10px;
padding-right: 10px;
    }

    .collapseLi {
        font-size: 12px;
        padding: 0;
    }

    
}