#root {
    margin: 0;
}

body {
    margin: 0;
}

@font-face {
    font-family: Montserrat;
    src: url(./polices/Montserrat-Light.ttf);
    src: url(./polices/Montserrat-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

body {

    font-family: Montserrat;;
}