.loady {
    position: fixed;
    width: 100%;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    z-index: 99;
    animation: loader 2000ms;
    animation-fill-mode: forwards;
    transition: transform 2000ms;
    animation-delay: 2000ms;
    
}

@keyframes loader {
    0% {
        opacity: 0.9;
    }

    25% {
        opacity: 0.7;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.25;
    }

    95% {
        transform: translateY(-1000px);
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

.fourchette {
    
    color: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100px;
    position: relative;
    margin-top: 200PX;
    animation: fourchette 3000ms;
    
}


@keyframes fourchette {
    25% {
        transform: rotate(360deg);
        /*scale: 2;*/
        font-size: 140px;

    }

    50% {

        /*scale: 2.5;*/
        font-size: 175px;
    }

    75% {
        /*scale: 2;*/
        font-size: 140px;

    }

    100% {
        /*scale: 1.75;*/
        font-size: 120px;

    }
}
