.h1Logement {
    
    
    margin-bottom: 0px;
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}

.locationLogement {
    
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    

}

.section2Logement {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.hostLogement {
    display: flex;
    margin-top: 30px;
    align-items: center;
    margin-left: 25px;
}

.hostNameLogement {
    font-size: 18px;
    color: #FF6060;
    width: 93px;
    
    
}

.hostPictureLogement {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: #C4C4C4;

}

.containerHostRating { 
    width: 200px;
}


@media screen and (max-width: 900px) {
    .section2Logement {
        flex-direction: column;
    }

    .h1Logement {font-size: 25px;}

    .containerHostRating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .containerCollapseLogement {
        flex-direction: column;
        width: 100%;
    }

    .collapseLogement {
        min-width: 100%;
    }
}

@media screen and (max-width: 480px) {

    .section2Logement {
        flex-direction: column;
    }

    .h1Logement {font-size: 18px;}

    .locationLogement {
        font-size: 14px;
    }

    .containerHostRating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .hostNameLogement {
        font-size: 12px;
        width: 63px;

    }

    .hostPictureLogement {
        height: 32px;
        width: 32px;
    }

    .hostLogement {
        justify-content: space-between;
        margin-top: 0;
    } 

    .containerCollapseLogement {
        flex-direction: column;
        width: 100%;
    }

    .collapseLogement {
        min-width: 100%;
    }
}