.rating {margin-top: 20px;
    display: flex;
    width: 200px ;
    }

    @media screen and (max-width: 480px) {
        .rating {
            width: 98px;
            height: 18px;
            margin-top: 0;
        }

    }